@font-face {
  font-family: OpenSansRegular;
  src: url(Assets/Fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(Assets/Fonts/OpenSans-Bold.ttf);
}

body {
  background-color: #4F5D75;
}

h1 {
  font-family: OpenSansBold, "Helvetica", sans-serif;
  font-size: 65px;
  margin-top: 15vh;
  margin-bottom: 0px;
  color: #E5E5E5;
}

h2 {
  font-family: OpenSansRegular, "Helvetica", sans-serif;
  margin-bottom: 20px;
  color: #9E9E9E;
}

.App {
  height: 100vh;
  width: 100vw;
}

#select-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tile-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 100px 100px 100px;
  animation: show-up 0.25s;
}

.question-tile {
  width: 20vw;
  height: 13.33vw;
  min-width: 300px;
  min-height: 200px;
  border-radius: 50px;
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.active-tile {
  background-color: #E5E5E5;
}

.toggled-tile {
  background-color: #9E9E9E;
  font-size: 0px;
}

.question-tile:hover {
  background-color: #9E9E9E;
  cursor: pointer;
}

.tile-emoji {
  width: 40%;
  height: auto;
}

#question {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: show-up 0.25s;
  width: 100%;
}

@keyframes show-up {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  position: absolute;
  top: 0px;
}

.button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #9E9E9E;
  border: 1px solid #4F5D75;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #888888;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

#side-buttons {
  margin-top: 30px;
  position: absolute;
  right: 0px;
}

.side-container {
  justify-content: flex-end;
  margin-top: 0px;
}

.button-label {
  font-size: 30px;
  font-family: OpenSansRegular, "Helvetica", sans-serif;
  color: white;
  margin-left: 15px;
}

#back-container {
  justify-content: flex-start;
}

#back-hide {
  display: none;
  margin-right: 15px;
  margin-top: 55px;
}

#back-button {
  margin-top: 30px;
}

#back-button:hover + #back-hide {
  display: block;

}

.side-button {
  margin-top: 0px;
  align-self: flex-start;
  position: absolute;
}

.side-label {
  margin-bottom: 60px;
  margin-right: 90px;
}

#back-image {
  height: 55%;
  width: 55%;
}

.button-image {
  height: 60%;
  width: 60%;
}

#pause-image {
  height: 50%;
  width: 55%;
}

#play-image {
  height: 50%;
  width: 50%;
  margin-left: 6px;
}

#next-hide {
  display: none;
}

#next-button:hover + #next-hide {
  display: block;
}

#pause-hide {
  display: none;
}

#pause-button:hover + #pause-hide {
  display: block;
}

#reveal-hide {
  display: none;
}

#reveal-button:hover + #reveal-hide {
  display: block;
}

#info-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 100%;
}

#answer {
  text-shadow:
    -2px -2px #4F5D75,
    -2px 2px #4F5D75,
    2px -2px #4F5D75,
    2px 2px #4F5D75;
  background-size: 1px 1em;
  box-shadow: inset 0 -10px #EF8354;
  display: inline;
  margin-bottom: 20px;

  font-size: 4vw;
}

.fade-in {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-out {
  opacity: 0;
  transition: opacity 400ms;
}

#clues {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 98%;
  margin-bottom: 60px;
}

.clue {
  width: 18%;
  height: 12vw;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;

  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #E5E5E5;
  font-family: OpenSansRegular;
  font-size: 2vw;
  text-align: center;

  animation: show-clue 0.25s;
  box-shadow: 0px 10px #9E9E9E;
}

@keyframes show-clue {
  from {
    background-color: #9E9E9E;
    color: #9E9E9E;
  }
  to {
    background-color: #E5E5E5;
    color: black;
  }
}

.clue-hidden {
  background-color: #9E9E9E;
  font-size: 0px;

  width: 18%;
  height: 12vw;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;

  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: OpenSansRegular;
  text-align: center;

  box-shadow: 0px 10px #9E9E9E;
}


@media only screen and (max-width: 700px) {
  #question {
    justify-content: center;
  }
  #info-timer-container {
    height: 100%;
    margin-bottom: 60px;
  }
  #answer {
    text-shadow: none;
    box-shadow: none;
    width: 60%;
    text-align: center;
    font-size: 20px;
  }
  #clues {
    flex-direction: column;
    height: 80%;
    flex-wrap: nowrap;
  }
  .clue {
    box-shadow: 0px 5px #9E9E9E;
    width: 33%;
    height: 19vw;
    font-size: 18px;
    border-radius: 35px;
  }
  .clue-hidden {
    height: 19vw;
    width: 33%;
    box-shadow: 0px 5px #9E9E9E;
    border-radius: 35px;
  }
  .button {
    width: 50px;
    height: 50px;
  }
  .button-container {
    height: 75px;
  }
  #back-button:hover + #back-hide {
    display: none;
  }
  #next-button:hover + #next-hide {
    display: none;
  }
  #pause-button:hover + #pause-hide {
    display: none;
  }
  #reveal-button:hover + #reveal-hide {
    display: none;
  }
  #timer-bar {
    height: 25px !important;
  }
  .question-tile:hover {
    background-color: #E5E5E5;
  }
}

#timer-bar {
  background-color: #EF8354;
  height: 50px;
  width: 91vw;
  border-radius: 50px;
  margin-top: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#timer-container {
  display: flex;
  flex-direction: row;;
  justify-content: flex-end;
  width: 91%;
}

.clue-image {
  width: 120%;
  height: 120%;
  border-radius: 40px;
}

.clue-image-container {
  padding: 0;
  box-shadow: none;
  margin-bottom: 30px;
}

.clue-image-container:first-child {
  margin-top: 20px;
}

.question-mark {
  font-size: 50px;
  color: #E5E5E5;
}

.round-two-last-clue {
  background-color: #4F5D75;
  box-shadow: none;
}

.wall-tile {
  width: 60%;
  height: 8vw;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;

  background-color: #E5E5E5;
  font-family: OpenSansRegular;
  font-size: 2vw;
  text-align: center;
}

#wall-tile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.wall-tile-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
